<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
  <div class="row">
    <div class="col-lg-6 col-xlg-5">
      <div class="row full-height">
        <div class="col-md-12 m-b-10">
          <pgcard Controls="false" HeaderClass="pgCardNoHeader"
                  AdditionalClasses="voceroPgCard full-height"
                  BodyClass="vocerPgCardBody">
            <div class="vitantLogoVocero" pg-parallax [ngStyle]="{
                'background-image': 'url(assets/Vitant/VITANT_Logo_vertical_condescriptivo_RGB_FC.jpg)'
                }"></div>
            <div class="text-center">
              <h2 class="text-white">¡ Bienvenido(a) {{voceroInfo.Name}} !</h2>
              <h3 class="text-white">Vocero Vitant</h3>
            </div>
          </pgcard>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xlg-4">
      <div class="row">
        <div class="col-sm-6 m-b-10">
          <div class="ar-1-1">

            <pgcard TimeOut="3000"
                    AdditionalClasses="widgetRegContactos card no-border no-margin widget-loader-bar full-height"
                    Controls="false"
                    BodyClass="no-padding" HeaderClass="hidden">
              <swiper [config]="configLiveWidgetRegContactos" [(index)]="indexWidgetRegContactos" (swiperClick)="registerContact()" (swiperTap)="registerContact()">
                <div class="slide-front tiles slide active">

                  <div class="" style="display: flex;flex-direction: column;height: 100%;justify-content: space-evenly;align-items: center;text-align: center;">

                    <div class="" style="max-width: 90%;flex-basis: 60%; display: flex;align-items: center">
                      <h4 class="text-white hint-text d-xl-block">
                        Sube los datos de los contactos que crees que pueden ser familia
                        Vitant.
                      </h4>
                    </div>
                    <span class="label font-montserrat fs-11 pointer" style="flex-basis: 16px;max-width: 90%;">
                      <a [routerLink]="'/Registro-contacto'">REGISTRA A TUS CONTACTOS</a>
                    </span>
                  </div>

                </div>
                <div class="slide-back tiles tilesRegistrarContacto">
                  <div class="" style="display: flex;flex-direction: column;height: 100%;justify-content: space-evenly;align-items: center;text-align: center;">
                    <h4 class="text-white hint-text d-xl-block" style="max-width: 90%;flex-basis: 60%;">&nbsp;</h4>
                    <span class="label font-montserrat fs-11 pointer" style="flex-basis: 16px;max-width: 90%;">
                      <a [routerLink]="'/Registro-contacto'">REGISTRA A TUS CONTACTOS</a>
                    </span>
                  </div>
                </div>
              </swiper>
            </pgcard>


          </div>
        </div>
        <div class="col-sm-6 m-b-10">
          <div class="ar-1-1">

            <pgcard TimeOut="3000"
                    AdditionalClasses="widgetConoceMas card no-border no-margin widget-loader-bar full-height"
                    Controls="false"
                    BodyClass="no-padding" HeaderClass="hidden">
              <swiper [config]="configLiveWidgetDesarrollo" [(index)]="indexWidgetDesarrollo" (swiperClick)="downloadBrochure()" (swiperTap)="downloadBrochure()">
                <div class="slide-front tiles slide active">

                  <div class="" style="display: flex;flex-direction: column;height: 100%;justify-content: space-evenly;align-items: center;text-align: center;">

                    <div class="" style="max-width: 90%;flex-basis: 60%; display: flex;align-items: center">
                      <h4 class="text-white hint-text d-xl-block">
                        Descubre todo lo que Vitant tiene para ofrecerte
                      </h4>
                    </div>

                    <span class="label font-montserrat fs-11 pointer" style="flex-basis: 16px;max-width: 90%;">CONOCE M&Aacute;S</span>

                  </div>


                </div>
                <div class="slide-back tiles tilesVerDesarrollo">
                  <div class="" style="display: flex;flex-direction: column;height: 100%;justify-content: space-evenly;align-items: center;text-align: center;">
                    <h4 class="text-white hint-text d-xl-block" style="max-width: 90%;flex-basis: 60%;">&nbsp;</h4>
                    <span class="label font-montserrat fs-11 pointer" style="flex-basis: 16px;max-width: 90%;">VER DESARROLLO</span>
                  </div>
                </div>
              </swiper>
            </pgcard>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 m-b-10">
          <div class="ar-1-1">

            <pgcard
              TimeOut="3000"
              AdditionalClasses="widgetDescargaBrochure card no-border widget widget-loader-circle-lg no-margin full-height"
              Controls="false" BodyClass="no-padding" HeaderClass="hidden">

              <swiper [config]="configLiveWidgetBrochure" [(index)]="indexWidgetBrochure" (swiperClick)="downloadBrochure()" (swiperTap)="downloadBrochure()">
                <div class="slide-front tiles slide active">

                  <div class="" style="display: flex;flex-direction: column;height: 100%;justify-content: space-evenly;align-items: center;text-align: center;">
                    <div class="" style="max-width: 90%;flex-basis: 60%; display: flex;align-items: center">
                    </div>
                    <span class="label font-montserrat fs-11 pointer" style="flex-basis: 16px;max-width: 90%;">
                      <a href="{{baseUrl}}/static/Brochure_Digital_2.8MB.pdf" target="_blank">DESCARGA BROCHURE</a>
                    </span>
                  </div>
                </div>

                <div class="slide-back tiles tilesBrochure">
                  <div class="" style="display: flex;flex-direction: column;height: 100%;justify-content: space-evenly;align-items: center;text-align: center;">
                    <h4 class="text-white hint-text d-xl-block" style="max-width: 90%;flex-basis: 60%;">&nbsp;</h4>
                    <span class="label font-montserrat fs-11 pointer" style="flex-basis: 16px;max-width: 90%;">
                      <a href="{{baseUrl}}/static/Brochure_Digital_2.8MB.pdf" target="_blank">DESCARGA BROCHURE</a>
                    </span>
                  </div>
                </div>


              </swiper>
            </pgcard>

          </div>
        </div>
        <div class="col-sm-6 m-b-10">
          <div class="ar-1-1">

            <pgcard TimeOut="3000"
                    AdditionalClasses="widgetContactoRegistrado card no-border no-margin widget-loader-bar full-height"
                    Controls="false"
                    BodyClass="no-padding" HeaderClass="hidden">
              <swiper [config]="configLiveWidgetContactos" [(index)]="indexWidgetContactos" *ngIf="contacts.length"  (swiperClick)="openContacts()" (swiperTap)="openContacts()" >
                <div class="slide-front tiles slide active tilesMisContactos">
                  <div class="" style="display: flex;flex-direction: column;height: 100%;justify-content: space-evenly;align-items: center;text-align: center;">
                    <h4 class="text-white hint-text d-xl-block" style="max-width: 90%;flex-basis: 60%;">&nbsp;</h4>
                    <span class="label font-montserrat fs-11 pointer" style="flex-basis: 16px;max-width: 90%;" [routerLink]="'/Contactos'">VER TODOS MIS CONTACTOS</span>
                  </div>
                </div>
                <div class="slide-back tiles slide" *ngFor="let contact of contacts">

                  <div class="" style="display: flex;flex-direction: column;height: 100%;justify-content: space-evenly;align-items: center;text-align: center;">

                    <div class="concatTileInfo" style="max-width: 90%;flex-basis: 60%;">
                      <div>
                        <h3 class="text-white nombreContactoTile">{{contact.Name}} {{contact.LastName}}</h3>
                        <h4 class="text-white correoContactoTile hint-text">{{contact.Email}}</h4>
                      </div>
                    </div>

                    <span class="label font-montserrat fs-11 pointer" style="flex-basis: 16px;max-width: 90%;" [routerLink]="'/Contactos'">VER TODOS MIS CONTACTOS</span>
                  </div>


                </div>
              </swiper>

              <swiper [config]="configLiveWidgetContactos" [(index)]="indexWidgetContactos" *ngIf="!contacts.length" (swiperClick)="registerContact()" (swiperTap)="registerContact()">
                <div class="slide-front tiles slide active">
                  <div class="" style="display: flex;flex-direction: column;height: 100%;justify-content: space-evenly;align-items: center;text-align: center;">
                    <div class="" style="max-width: 90%;flex-basis: 60%; display: flex;align-items: center">
                      <h4 class="text-white hint-text d-xl-block">
                        A&uacute;n no tienes contactos
                      </h4>
                    </div>
                    <span class="label font-montserrat fs-11 pointer" style="flex-basis: 16px;max-width: 90%;" [routerLink]="'/Registro-contacto'">REGISTRA A TUS CONTACTOS</span>
                  </div>
                </div>
              </swiper>

            </pgcard>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
