<div class="social-wrapper">
  <div class="social " data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-social="cover" coverpage>
      <div class="cover-photo" pg-parallax [ngStyle]="{'background-image': 'url(assets/Vitant/banner.png)'}">
      </div>
      <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0"
           [@enterAnimation]="(_togglerService.animateEnter|async) ?'loading':'ready'">
        <div class="inner">
          <div class="pull-bottom bottom-left  sm-p-l-15" style="margin-bottom: 200px; width: 100%">
            <div class="vitantInnerLogo" pg-parallax [ngStyle]="{'background-image': 'url(assets/Vitant/vitantLogo.png)'}"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END JUMBOTRON -->
    <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">

      <pg-container>
        <div class="card card-transparent" [@enterAnimation]="(_togglerService.animateEnter|async) == true ?'loading':'ready'">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4">
                <pgcard Controls="false" HeaderClass="pgCardNoHeader" AdditionalClasses="hoverCard">
                  <!--
                  <ng-template #CardTitle>Portlet Title</ng-template>
                  -->

                  <h3 class="hoverTitle">¡Se nuestro Vocero Vitant!</h3>
                  <h3>¡Se nuestro Vocero Vitant!</h3>
                  <p class="font-med">
                    Si ya formas parte de la familia Vitant, y conoces a alguien que podría sumarse a familia, su compra puede traer un gran incentivo para ti.
                  </p>
                  <p class="font-med">
                    Lo único que tienes que hacer es pasarnos sus datos de contacto y nosotros nos encargaremos de la labor de venta, y si está se cierra, ¡tu podrás obtener el
                    1% del valor de departamento*!
                  </p>

                  <p>
                    Para empezar a ser un vocero,

                  </p>

                  <div class="row clearfix">
                    <div class="col-md-12 buttonCenter">
                      <button class="btn btn-coral btnVitant" type="submit" [routerLink]="'registro'">
                        ¡REGÍSTRATE!
                      </button>
                    </div>
                  </div>
                  <br>
                  <p>
                    Sube los datos de los contactos que crees que pueden ser familia Vitant.
                    Y si tu contacto compra, ¡te llevas el 1% del valor del departamento!
                  </p>
                </pgcard>
              </div>
              <div class="col-lg-8">
                <pgcard Controls="false" HeaderClass="pgCardNoHeader" AdditionalClasses="hoverCard" BodyClass="vitantImgCard">

                  <div class="vitantImgCardContainer">
                    <img src="assets/Vitant/coupleHome.jpg">
                  </div>

                </pgcard>
              </div>
            </div>
          </div>
        </div>
      </pg-container>

    </div>

    <!-- END CONTAINER FLUID -->
  </div>
  <!-- /container -->
</div>
