<div class="social-wrapper">
  <div class="social " data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron smallBanner" data-social="cover">
      <div class="titleContainer" [@enterAnimation]="(_togglerService.animateEnter|async) == true ?'loading':'ready'">
        <h5 class="titleCorto text-white m-l-20">Mis Contactos</h5>
        <div class="vitantInnerLogo"  [ngStyle]="{
            'background-image': 'url(assets/Vitant/VITANT_Logo_horizontal_condescriptivo_RGB_FC.jpg)'
            }"></div>
      </div>
    </div>
    <!-- END JUMBOTRON -->
    <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0 container-main">
      <pg-container>

      </pg-container>


    </div>

    <!-- END CONTAINER FLUID -->
  </div>
  <!-- /container -->
</div>
