<div class="social-wrapper">
  <div class="social " data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron smallBanner" data-social="cover">
      <div class="titleContainer" [@enterAnimation]="(_togglerService.animateEnter|async) == true ?'loading':'ready'">
        <h5 class="titleCorto text-white m-l-20">Informaci&oacute;n</h5>
        <div class="vitantInnerLogo" [ngStyle]="{
            'background-image': 'url(assets/Vitant/MarcaRegistradaSinBorde.png)'
            }"></div>
      </div>
    </div>
    <!-- END JUMBOTRON -->
    <div class="container-fluid padding-25 sm-padding-10 sm-gutter container-main ">

      <pg-container>
        <div class="card card-transparent" [@enterAnimation]="(_togglerService.animateEnter|async) == true ?'loading':'ready'">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <pgcard Controls="false" HeaderClass="pgCardNoHeader" AdditionalClasses="hoverCard card-bodyPadding">

                  <div class="informacionContainer">


                    <div class="infoHeader">
                      Nuestro desarrollo cuenta con espacios incomparables y asombrosos
                      departamentos donde podrás reflejar tu verdadera identidad. Sabemos y
                      hacemos que el significado del buen gusto, se manifieste en el lujo y la
                      distinción de los espacios y acabados.  
                    </div>
                    <div class="infoHeader">
                      2 torres de exclusivos departamentos que van desde 62 m2 hasta los 123 m2
                      buscan satisfacer todas tus necesidades para que tú sólo te preocupes por
                      elegir la mejor opción dentro de nuestra amplia variedad. 
                    </div>
                    <div class="infoHeader">
                      Al estar en casa, una nueva experiencia está por comenzar. Prepárate para
                      llenarte de bienestar, tranquilidad o diversión y olvídate por completo de la
                      rutina dentro de nuestras exclusivas amenities que te garantizarán
                      momentos únicos e irrepetibles. 

                    </div>
                    <div class="infoHeader">

                      Contamos con planta de tratamiento de aguas, un sistema alternativo de
                      aprovechamiento y utilizamos agua tratada en sanitarios. También habrá
                      luminarias LED con lo que se reduce el consumo de energía eléctrica. 

                    </div>
                    <div class="infoHeader marginBottom20">
                      La mejor ubicación, cerca de principales avenidas, centros comerciales,
                      escuelas, hospitales y centros de entretenimiento.
                    </div>

                    <div class="infoLeft">

                      <ul>
                        <li>Teléfono: <span>55 68 11 16</span></li>
                      </ul>

                      <ul>
                        <li><span>Dirección Desarrollo:</span></li>
                        <li>José María Rico <span>709</span></li>
                        <li><span>Col. Del Valle Sur</span>, C.P. 03100, <span>CDMX.</span></li>
                      </ul>


                      <ul>
                        <li><span>Dirección Showroom:</span></li>
                        <li>Insurgentes Sur <span>1352</span></li>
                        <li><span>Col. Actipan</span>, CP.03230, <span>CDMX.</span></li>
                      </ul>

                    </div>

                    <div class="infoRight marginBottom20">
                      <div class="mapaVitant"></div>
                    </div>


                    <div class="infoCenter">
                      <iframe width="100%" height="315" src="https://www.youtube.com/embed/vgzOLxNvLLo" frameborder="0"
                              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>


                  </div>

                </pgcard>
              </div>

            </div>
          </div>
        </div>
      </pg-container>


<!--

-->

    <!-- END CONTAINER FLUID -->
  </div>
  <!-- /container -->
</div>
