@import 'core.scss';

$base-img-url: "../../assets/images" !global;
$assets-url: "../../assets" !global;


@import "modules/_layout.scss";
@import "modules/_sidebar.scss";
@import "modules/_secondary-sidebar.scss";
@import 'modules/_header.scss';
@import 'modules/_overlay-search.scss';
@import 'modules/_split-view.scss';
//Sidebar Styles
@import 'modules/_quick-view.scss';
@import 'modules/_list.scss';

//UI Components
@import "icons.scss";
@import "modules/_typography.scss";
@import 'modules/_breadcrumb.scss';
@import "modules/_buttons.scss";
@import "modules/_alerts.scss";
@import "modules/_notifications.scss";
@import "modules/_tabs_accordian.scss";
@import "modules/_modals.scss";
@import "modules/_progress_indicators.scss";

//Pages Components
@import "modules/_datepicker.scss";
@import "modules/_timepicker.scss";
@import "modules/_select.scss";
@import "modules/_slider.scss";
@import "modules/_switch.scss";
@import "modules/_tabs.scss";
@import "modules/_tags.scss";
@import "modules/_uploader.scss";
@import "modules/_pagination.scss";

//Email App
@import 'modules/_email.scss';

//View
@import "modules/_view.scss";

//Cards
@import "modules/_cards.scss";

//Form Elements
@import "modules/_form_elements.scss";

//Tables
@import "modules/_tables.scss";

//Charts
@import "modules/_charts.scss";

//List
@import "modules/_list.scss";

//Social
@import "modules/_social.scss";

//Email
@import "modules/_email.scss";

//Login
@import "modules/_login.scss";

//Lock screen
@import "modules/_lock_screen.scss";

//Timeline
@import "modules/_timeline.scss";

//Gallery
@import "modules/_gallery.scss";

//Chat
@import "modules/_chat.scss";

//Z-indexes
@import "modules/z_index.scss";

//Misc
@import "modules/_misc.scss";

//Print
@import "modules/_print.scss";

//Misc Helpers
@import "modules/_misc.scss";

//Demo - Remove in production
@import "modules/_demo.scss";

//Responsive Classes
@import "_responsive.scss";

//Utils
@import "utils.scss";

//Vendor
@import "vendor/perfect-scroller.scss";
@import "vendor/typehead.scss";
@import "vendor/ng-tree.scss";
@import "vendor/quill.scss";
@import "vendor/ng-datatable.scss";
@import "vendor/ngx-nvd3.scss";
@import "vendor/ngx-google-map.scss";


body {
  background-color: $color-white !important;
}

.content-noHeader {
  padding-top: 0px !important;
}

.page-container {
  background-color: $color-white !important;
}

.footer {
 // position: sticky !important;
  background-color: $color-white !important;
}


.copyrightExtended {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
}

.btnAnimatedVitant{
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #f1f1f1;
  margin: 0 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: $color-rosa;
  overflow: hidden;
  position: relative;
}


.btnVitant {
  line-height: 30px;
  font-size: 15px;
  transition: 0.2s linear;
}

.btnVitant:hover i{
  transform: scale(1.3);
  color: $color-morado;
}

.btnAnimatedVitant i{
  line-height: 30px;
  font-size: 15px;
  transition: 0.2s linear;
}

.btnAnimatedVitant:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}

.btnAnimatedVitant::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: $color-rosa;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btnAnimatedVitant:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }
  50%{
    left: 10%;
    top: -30%;
  }100%{
     top: -10%;
     left: -10%;
   }
}


.vitantInnerLogo {
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}


.vitantImgCard {
  padding: 0px !important;
}

.vitantImgCard .vitantImgCardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden!important
}

.vitantImgCard .vitantImgCardContainer img{
  flex-shrink: 0;
  width: 100%;
}

.pgCardNoHeader {
  display: none;
}


.card-body .hoverTitle{
  position: absolute;
  top: 30px;
  margin: 0;
  padding: 0;
  font-size: 3em;
  color: rgba(0,0	,0	,.05);
  transition: 0.5s;
}

.hoverCard:hover .card-body .hoverTitle{
  top:0px;
}


.hoverCard:before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #000;
  transform: skew(2deg,2deg);
  z-index: -1;
  background: linear-gradient(315deg,$color-coral,$color-rosa);
}

.social-wrapper .social .smallBanner .titleContainer{
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.social-wrapper .social .container-main{
  padding-top: calc(15vh + 30px);
}


.social-wrapper .social .smallBanner{
  height: 15vh;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.formPadding{
  padding: 20px;
}

.rowJustifyCenter {
  justify-content: center;
}

.buttonCenter{
  display: flex;
  justify-content: center;
}


$assets-url :"/assets";


// Widget Registrar contactos
.widgetRegContactos {
  height: 100% !important;
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .card-body{
    height:auto !important;
  }
  &:after {
    background-image: url("#{$assets-url}/img/social/person-cropped.jpg");
    background-size: cover;
    content: " ";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    opacity: .69;
  }
  & > div{
    position: relative;
    z-index: 1;
  }
}

// Widget Registrar contactos



// Widget Conoce Más


.widgetConoceMas{
  height: 100% !important;
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .widget-3-fav{
    background: rgba(0,0,0,.07);
    vertical-align: middle;
    padding: 6px 11px;
    display: block;
  }
  .pg-map {
    font-size: 30px;
    color: #fff;
  }
  .widget-3-inner{
    position: relative;
    width: 100%;
    height: 100%;
    &:after{
      position: absolute;
      background: transparent;
      content:"";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
  }
}


// Widget Conoce Mas


.voceroContent{
  display: grid;
  align-content: center;
  justify-content: center;
  height: 500px;
  width: 500px;
}

.voceroPgCard {
  background-color: $color-coral;
  height: 500px;
}

.vitantLogoVocero {
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
}
