@import 'core.scss';

$base-img-url: "../../assets/images" !global;
$assets-url: "../../assets" !global;


@import "modules/_layout.scss";
@import "modules/_sidebar.scss";
@import "modules/_secondary-sidebar.scss";
@import 'modules/_header.scss';
@import 'modules/_overlay-search.scss';
@import 'modules/_split-view.scss';
//Sidebar Styles
@import 'modules/_quick-view.scss';
@import 'modules/_list.scss';

//UI Components
@import "icons.scss";
@import "modules/_typography.scss";
@import 'modules/_breadcrumb.scss';
@import "modules/_buttons.scss";
@import "modules/_alerts.scss";
@import "modules/_notifications.scss";
@import "modules/_tabs_accordian.scss";
@import "modules/_modals.scss";
@import "modules/_progress_indicators.scss";

//Pages Components
@import "modules/_datepicker.scss";
@import "modules/_timepicker.scss";
@import "modules/_select.scss";
@import "modules/_slider.scss";
@import "modules/_switch.scss";
@import "modules/_tabs.scss";
@import "modules/_tags.scss";
@import "modules/_uploader.scss";
@import "modules/_pagination.scss";

//Email App
@import 'modules/_email.scss';

//View
@import "modules/_view.scss";

//Cards
@import "modules/_cards.scss";

//Form Elements
@import "modules/_form_elements.scss";

//Tables
@import "modules/_tables.scss";

//Charts
@import "modules/_charts.scss";

//List
@import "modules/_list.scss";

//Social
@import "modules/_social.scss";

//Email
@import "modules/_email.scss";

//Login
@import "modules/_login.scss";

//Lock screen
@import "modules/_lock_screen.scss";

//Timeline
@import "modules/_timeline.scss";

//Gallery
@import "modules/_gallery.scss";

//Chat
@import "modules/_chat.scss";

//Z-indexes
@import "modules/z_index.scss";

//Misc
@import "modules/_misc.scss";

//Print
@import "modules/_print.scss";

//Misc Helpers
@import "modules/_misc.scss";

//Demo - Remove in production
@import "modules/_demo.scss";

//Responsive Classes
@import "_responsive.scss";

//Utils
@import "utils.scss";

//Vendor
@import "vendor/perfect-scroller.scss";
@import "vendor/typehead.scss";
@import "vendor/ng-tree.scss";
@import "vendor/quill.scss";
@import "vendor/ng-datatable.scss";
@import "vendor/ngx-nvd3.scss";
@import "vendor/ngx-google-map.scss";


body {
  background-color: $color-white !important;
}

.content-noHeader {
  padding-top: 0px !important;
}

.page-container {
  background-color: $color-white !important;
}

.footer {
  // position: sticky !important;
  background-color: $color-white !important;
}


.copyrightExtended {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
}

.btnAnimatedVitant {
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #f1f1f1;
  margin: 0 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: $color-rosa;
  overflow: hidden;
  position: relative;
}


.btnVitant {
  line-height: 30px;
  font-size: 15px;
  transition: 0.2s linear;
}

.btnVitant:hover i {
  transform: scale(1.3);
  color: $color-morado;
}

.btnAnimatedVitant i {
  line-height: 30px;
  font-size: 15px;
  transition: 0.2s linear;
}

.btnAnimatedVitant:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.btnAnimatedVitant::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: $color-rosa;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btnAnimatedVitant:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}


.vitantMainLogo {

  /*
  background-size: contain;
  background-repeat: no-repeat;
  height:  150px;
  */

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 264px;
  width: 306px;
}


.vitantInnerLogo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  width: calc(100vw - 50%);
}


.vitantImgCard {
  padding: 0px !important;
}

.vitantImgCard .vitantImgCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important
}

.vitantImgCard .vitantImgCardContainer img {
  flex-shrink: 0;
  width: 100%;
}

.pgCardNoHeader {
  display: none;
}


.card-body .hoverTitle {
  position: absolute;
  top: 30px;
  margin: 0;
  padding: 0;
  font-size: 3em;
  color: rgba(0, 0, 0, .05);
  transition: 0.5s;
}

/*


.hoverCard:hover .card-body .hoverTitle {
  top: 0px;
}

 */

.hoverCard:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #000;
  transform: skew(2deg, 2deg);
  z-index: -1;
  background: linear-gradient(315deg, $color-coral, $color-rosa);
}

.smallBanner {
  background-color: rgb(59, 12, 83);
}

.social-wrapper .social .smallBanner .titleContainer {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-wrapper .social .container-main {
  padding-top: calc(15vh + 30px) !important;
}


.social-wrapper .social .smallBanner {
  height: 15vh;
  position: fixed;
  width: 100vw;
  z-index: 5;
}


.titleLargo {
  font-family: DanmarkURW-Bol;
  font-weight: bold;
  color: #F4364C;
  font-size: calc(2vw + 1em);
}

.titleCorto {
  font-family: DanmarkURW-Bol;
  font-weight: bold;
  color: #F4364C;
  font-size: calc(2vw + 1em);
}


.titleFontMobile {
  font-size: calc(2.6em);
}



/** Small Banner Social Page **/
@media (max-width: 991px) {

  .smallBannerWithHeader {
    top: 60px;
  }

}

@media (max-width: 767px) {
  .smallBannerWithHeader {
    top: 48px;
  }
  .titleLargo {
    font-size: calc(2vw + 1em);

  }
  .titleCorto {
    font-size: calc(2vw + 1em);
  }
}


.smallBannerHide {
  transition: 0.5s ease;
  opacity: 0;
  display: none;
}

.smallBannerShow {
  opacity: 1 !important;
  transition: 0.5s ease;
  display: block;
}

.smallBanner {
  height: 15vh;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.smallBanner .titleContainer {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/******/


.formPadding {
  padding: 20px;
}

.rowJustifyCenter {
  justify-content: center;
}

.buttonCenter {
  display: flex;
  justify-content: center;
}


$assets-url: "/assets";


// Widget Registrar contactos
.widgetRegContactos {
  height: 100% !important;
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-rosa;


  .tiles:not(.tilesRegistrarContacto):hover {
    &::before {
      width: 75%;
      opacity: 1;
      transition: 0.5s ease-in;
    }
  }

  .tiles:not(.tilesRegistrarContacto)::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -90px;
    width: 50%;
    height: 100%;
    transition: 0.5s ease-in;
    background-image: url("#{$assets-url}/Vitant/VitantLines.png");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
  }

  & > div {
    position: relative;
    z-index: 1;
  }

  .pointer {
    cursor: pointer;
  }
}

// Widget Registrar contactos

// Widget Brochure
.widgetDescargaBrochure {
  height: 100% !important;
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-morado;


  &:hover {
    &::before {
      width: 75%;
      opacity: 1;
      transition: 0.5s ease-in;
    }
  }

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: -90px;
    width: 50%;
    height: 100%;
    transition: 0.5s ease-in;
    background-image: url("#{$assets-url}/Vitant/VitantLines.png");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
  }



  & > div {
    position: relative;
    z-index: 1;
  }

  .pointer {
    cursor: pointer;
  }
}

// Widget Brochure

.widgetConoceMas {
  height: 100% !important;
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-rosa;

  .pointer {
    cursor: pointer;
  }

  .tiles:not(.tilesVerDesarrollo):hover {
    &::before {
      width: 75%;
      opacity: 1;
      transition: 0.5s ease-in;
    }
  }

  .tiles:not(.tilesVerDesarrollo)::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -90px;
    width: 50%;
    height: 100%;
    transition: 0.5s ease-in;
    background-image: url("#{$assets-url}/Vitant/VitantLines.png");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
  }

}

.widgetMisContactos {
  height: 100% !important;
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-rosa;

  .pointer {
    cursor: pointer;
  }

  .tiles:not(.tilesMisContactos):hover {
    &::before {
      width: 61%;
    }
  }

  .tiles:not(.tilesMisContactos):before {
    content: " ";
    position: absolute;
    top: 0;
    left: -90px;
    width: 0;
    height: 100%;
    transition: 0.5s ease;
    background-image: url("#{$assets-url}/Vitant/VitantLines.png");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}


.tilesBrochure::after {
  background-image: url("#{$assets-url}/Vitant/CuadriculaBrochure.jpg");
  background-size: cover;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  opacity: 1;
}


.tilesMisContactos::after {
  background-image: url("#{$assets-url}/Vitant/shutterstock_191746961.jpg");
  background-size: cover;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  opacity: 1;
}

.tilesVerDesarrollo::after {

  background-image: url("#{$assets-url}/Vitant/DelValleFachada.jpg");
  background-size: cover;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  opacity: 1;
  background-position: center;
}


.tilesRegistrarContacto::after {

  background-image: url("#{$assets-url}/Vitant/shutterstock_1306314856.jpg");
  background-size: cover;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  opacity: 1;
  background-position: center;
}




.concatTileInfo {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  // height: 100%;
  text-align: center;
  // position: absolute;
  // top: 0;
  width: 100%;
  z-index: -1;
}

.nombreContactoTile {
  font-size: calc(4em - 1rem);
}

.correoContactoTile {
  font-size: calc(4em - 2rem);
}



.vocerPgCardBody {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
}

.voceroPgCard {
  background-color: $color-morado;
}

.vitantLogoVocero {
  width: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // border-radius: 50%;
  height: 250px;
}


.focusIcon {
  outline: auto 5px $color-coral;
}


.widgetContactoRegistrado {
  height: 100% !important;
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-morado;

  &:hover {
    &::before {
      width: 75%;
      opacity: 1;
      transition: 0.5s ease-in;
    }
  }

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: -90px;
    width: 50%;
    height: 100%;
    transition: 0.5s ease-in;
    background-image: url("#{$assets-url}/Vitant/VitantLines.png");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
  }

  & > div {
    position: relative;
    z-index: 1;
  }

  .pointer {
    cursor: pointer;
  }
}


.informacionContainer{
  display: flex;
  flex-flow: row  wrap;
  justify-content: center;
  text-align: justify;
  align-items: center;
  font-family: Montserrat;
}


.informacionContainer .infoHeader,.infoLeft,.infoCenter,.infoRight,.infoBottom{
  margin: 5px;
}

.informacionContainer .infoHeader{
  flex: 1 0 100%;
  order: 1;
}

.informacionContainer .infoLeft > ul {
  list-style-type: none;
}

.informacionContainer .infoLeft > ul > li> span{
  font-weight: bolder;
}


.informacionContainer .infoLeft{
  flex: 0 0 35%;
  order: 2;
}

.informacionContainer .infoCenter{
  text-align: center;
  flex: 0 0 60%;
  order: 4;
}

.informacionContainer .infoRight{
  flex: 0 0 48%;
  order: 3;
}

.informacionContainer .infoBottom{
  flex: 1 0 100%;
  order:5
}

.mapaVitant{
  background-image: url("#{$assets-url}/Vitant/Mapa_Valle.png");
  background-size: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}


@media (max-width: 1024px) {
  .informacionContainer .infoLeft{
    flex-basis: 100%;
  }
  .informacionContainer .infoCenter{
    flex-basis: 100%;
  }
  .informacionContainer .infoRight{
    flex-basis: 100%;
  }
}

/** BACK OFFICE */

.headerPurple, .headerYellow, .headerGreen, .headerTerracota, .headerAzul, .headerYellowPiezas{
  padding: 0px!important;
}

.headerPurple{
  color: white !important;
  background-image: linear-gradient($color-morado, $color-rosa);
}

.headerYellow{
  background-image: linear-gradient(#FDA228, #F1C15F);
  color: white !important;
}

.headerGreen {
  background-image: linear-gradient(#0B6930, #B2D273);
  color: white !important;
}

.headerTerracota {
  background-image: linear-gradient(#FC261C, #BD5758);
  color: white !important;
}

.headerAzul {
  background-image: linear-gradient(#0826D2, #66C8EB);
  color: white !important;
}

.headerYellowPiezas {
  background-image: linear-gradient(#FDA228, #F1C15F);
  color: white !important;
}


.headerNormal {
  position: relative;
  top: 20px;
  height: 50px;
  white-space: normal;
  line-height: 10px;
  width: 77px;
  text-align: center;

}

.ngx-datatable .datatable-header .datatable-header-cell.sortable .sort-btn{
  top: 20px !important;
}

.headerSuperior{
  z-index: 9999;
  position: fixed;
  top: 3px;
  text-align: center;
  color: black !important;
}


.cellShowTienda {
  height: 25px;
  padding: 7px;
  text-align: center
}


.cellClass {
  display: flex !important;
  justify-content: center ;
  padding: 0px !important;
  flex-direction: column;
  height: 30px;
}


datatable-summary-row>datatable-body-row>div>datatable-body-cell {
  height: 50px!important;
}

datatable-body-row:hover {
  background-color: black;
}

.cellIdClass{
  padding: 0px!important;
  text-align: center;
}

.idColorMartes {
  background-color: #FCF2D1;
}

.idColorMiércoles {
  background-color: #E5F1F4;
}

.idColorJueves{
  background-color: #F5DDCD;
}

.idColorViernes {
  background-color: #D6F5E3;
}

.idColorSábado {
  background-color: #FFFFFF;
}

.idColorDomingo {
  background-color: #D7EAF7;
}

idColorLunes {
  background-color: #FFFFFF;
}


.cellText {
  display: table-cell !important;
  vertical-align: middle !important;
  height: 30px;
}

.cellIdText {
  display: flex;
  justify-content: space-around;
  padding: 7px;
}


.cellNumber {
  display: table-cell !important;
  vertical-align: middle !important;
  height: 30px;
  width: 100px;
  text-align: right;
}

datatable-summary-row,
datatable-summary-row > datatable-body-row,
datatable-summary-row > datatable-body-row > div,
datatable-summary-row > datatable-body-row > div > datatable-body-cell{
  background-color: #83909A !important;
  color: white;
  font-weight: bold;
}

datatable-summary-row > datatable-body-row > div > datatable-body-cell > .datatable-body-cell-label{
  text-align: right;
}


datatable-row-wrapper > datatable-body-row > div> datatable-body-cell {
  padding: 5px!important;
}

.ngx-datatable .datatable-body .datatable-body-row .datatable-body-cell{
  font-size: 11px;
}


.linkSelectTable {
  cursor: pointer;
  font-weight: bold;
}

.linkSelectTable:hover {
  font-weight: bolder;
  text-shadow: #A4A4A4 0.1em 0.1em 0.2em;
}

.noPaddingTop {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.noMinHeight {
  min-height: 0px !important;
}

.noMarginBottom {
  margin-bottom: 0px !important;
}

pg-breadcrumb{
  display: block !important;
}

.backOffice page-container {
  padding-left: 0;
}
