<div class="social-wrapper">
  <div class="social " data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron smallBanner" data-social="cover">
      <div class="cover-photo" pg-parallax [ngStyle]="{'background-image': 'url(assets/Vitant/banner.png)'}">
      </div>
      <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0"
           [@enterAnimation]="(_togglerService.animateEnter|async) ?'loading':'ready'">
        <div class="inner">
          <div class="pull-bottom bottom-left m-b-40 sm-p-l-15">
            <h5 class="titleAzul no-margin">Registro de Contacto</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- END JUMBOTRON -->
    <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
      <pg-container>
        <div class="card card-transparent" [@enterAnimation]="(_togglerService.animateEnter|async) == true ?'loading':'ready'">
          <div class="card-body">
            <div class="row rowJustifyCenter">

              <div class="col-lg-12">
                <pgcard Controls="false" HeaderClass="pgCardNoHeader" AdditionalClasses="hoverCard formPadding">

                  <form id="form-personal" role="form" autocomplete="off" #basicForm="ngForm">
                    <div class="row clearfix">
                      <div class="col-md-12">
                        <div pgFormGroupDefault class="form-group form-group-default required"
                             [class.has-error]="basicFormfname.invalid && (basicFormfname.dirty || basicFormfname.touched)">
                          <label>Nombre</label>
                          <input type="text" class="form-control" id="fName" name="fName" [(ngModel)]="fName" #basicFormfname="ngModel" required>
                        </div>

                        <div *ngIf="basicFormfname.invalid && (basicFormfname.dirty || basicFormfname.touched)">
                          <label *ngIf="basicFormfname.errors.required" class="error">Esta informaci&oacute;n es requerida</label>
                        </div>
                      </div>
                    </div>

                    <div class="row clearfix">
                      <div class="col-md-12">
                        <div pgFormGroupDefault class="form-group form-group-default required" [class.has-error]="basicFormLName.invalid && (basicFormLName.dirty || basicFormLName.touched)">
                          <label>Apellido(s)</label>
                          <input type="text" class="form-control" name="lastName" [(ngModel)]="lName" #basicFormLName="ngModel" required>
                        </div>
                        <div *ngIf="basicFormLName.invalid && (basicFormLName.dirty || basicFormLName.touched)">
                          <label *ngIf="basicFormLName.errors.required" class="error">Esta informaci&oacute;n es requerida</label>
                        </div>
                      </div>

                    </div>

                    <div class="row clearfix">
                      <div class="col-md-12">
                        <div pgFormGroupDefault class="form-group form-group-default required" [class.has-error]="basicFormPhone.invalid && (basicFormPhone.dirty || basicFormPhone.touched)">
                          <label>Tel&eacute;fono</label>
                          <input type="text" class="form-control" name="phone" [(ngModel)]="phone" #basicFormPhone="ngModel" required>
                        </div>
                        <div *ngIf="basicFormPhone.invalid && (basicFormPhone.dirty || basicFormPhone.touched)">
                          <label *ngIf="basicFormPhone.errors.required" class="error">Esta informaci&oacute;n es requerida</label>
                        </div>
                      </div>
                    </div>

                    <div class="row clearfix">
                      <div class="col-md-12">
                        <div pgFormGroupDefault class="form-group form-group-default required" [class.has-error]="basicFormEmail.invalid && (basicFormEmail.dirty || basicFormEmail.touched)">
                          <label>Correo</label>
                          <input type="text" class="form-control" name="email" [(ngModel)]="email" #basicFormEmail="ngModel" required>
                        </div>
                        <div *ngIf="basicFormEmail.invalid && (basicFormEmail.dirty || basicFormEmail.touched)">
                          <label *ngIf="basicFormEmail.errors.required" class="error font-med">Esta informaci&oacute;n es requerida</label>
                        </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>

                    <BR>
                    <div class="row clearfix">
                      <div class="col-md-12 buttonCenter">
                        <button class="btn btn-coral btnVitant" type="submit" [class.disabled]="basicForm.invalid">
                          <i>Registrar Contacto</i>
                        </button>
                      </div>
                    </div>

                  </form>

                </pgcard>
              </div>
            </div>
          </div>
        </div>
      </pg-container>


    </div>

    <!-- END CONTAINER FLUID -->
  </div>
  <!-- /container -->
</div>
